data/
**/.data/**
**/.checkpoints/**
build/
crash-*
**/__pycache__/
mlab.egg-info/
scratch/
.ipynb_checkpoints/
image*
infrastructure/.lambda_account.json
.env/
.hypothesis
launch.json
.idea/
metrics.csv
scratch.py
w1d2_solution.py
w1d2_cifar10_train
w1d2_cifar10_test
w1d2_resnet34_cifar10.pt
w2d2_data
.gitpre
wandb
tensor_parallel_weights
opt67b
draft_generative_models_dataloaders.pt
diffusion.gif
annotated_diffusion.pt
w3d1_log.txt
rl_env
runs
videos
w3d4_diffusion.pt
w3d4_generative_models_dataloaders.pt
w3d4_generative_models_dataloaders_fashion.pt
w3d4_generative_models_dataloaders_cifar10.pt
w3d4_generative_models_dataloaders_cifar.pt
w2d2_mlm_schedule.png
w2d4_attn_only_2L.pth
w3d1_data
.vs
attn_only_2L_v2.pth_9144.pth
mnist.pickle
.direnv
.vscode
acdc_plot*
*.png
*.gv
remix_acdc
/mad_lab/challenges/*.gv
/mad_lab/challenges/*.png
/mad_lab/models/challenge_temp*
/mad_lab/models/*_temp/
/mad_lab/models/*_temp.pt
/mad_lab/models/*_temp.circ
/mad_lab/output.txt
/mad_lab/exploratory/testing.py
.z3-trace
